<div class='container-profile'>
  <img src={{usuario?.profile_image_url}} class="card-img-top" alt="">
  <div class='container-details'>

    <div class='detail-name'>
        <div class='detail'></div>
        <h1>{{usuario?.name}}</h1>
    </div>
  </div>
  <div>
    <section class='container-details'>
            <h1>BIO</h1>
            <p>{{usuario?.description}}</p>
        </section>
    </div>

    <div>
      <section class='container-numbers'>
          <div  class='number-container'>
              <h1>{{usuario?.public_metrics?.tweet_count}}</h1>
              <h2>Tweets</h2>
          </div>
          <div (click)="seguidores()" class='number-container'>
              <h1>{{usuario?.public_metrics?.followers_count}}</h1>
              <h2>Seguidores</h2>
          </div>
          <div (click)="seguindo()"class='number-container'>
              <h1>{{usuario?.public_metrics?.following_count}}</h1>
              <h2>Seguindo</h2>
          </div>
      </section>
      </div>

</div>
